window.xfce4-panel widget > box > button > image{
   padding: 0.2em 0.16em;  -gtk-icon-transform: scale(0.8);
}

window#whiskermenu-window treeview>* {
  padding:0.2em 0.16em;
}

#xfce4-notification-plugin image {
	-gtk-icon-transform: scale(0.85) translateY(3px);
}
#pulseaudio-button image {
	-gtk-icon-transform: scale(0.9);
}
#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.75);
}

VteTerminal, vte-terminal {
    padding: 13px;
}
XfdesktopIconView.view {
  -XfdesktopIconView-cell-spacing:-0.5;
  -XfdesktopIconView-cell-padding:1.25;
  -XfdesktopIconView-cell-text-width-proportion:1.5;
}
#xfce4-power-manager-plugin {
  font-family: "Noto Sans Bold";
  font-size: 13px;
}
