[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/snsv/Desktop/wallhaven-2kk1g6.jpg]
row=5
col=4

[/home/snsv/Desktop/FFXIII.png]
row=4
col=4

[/home/snsv/Desktop/fonts]
row=3
col=0

[/home/snsv/Desktop/files]
row=9
col=0

[/home/snsv/Desktop/studia]
row=10
col=0

[/home/snsv/Desktop/SD Card]
row=2
col=0

[/home/snsv/Desktop/Screenshot_2023-10-12_22-46-16.png]
row=1
col=5

[/home/snsv/Desktop/wallhaven-3z2med.jpg]
row=3
col=4

[Trash]
row=1
col=0

[/home/snsv]
row=0
col=0

