[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/snsv/Desktop/bookmarks.html]
row=3
col=0

[/home/snsv/Desktop/SD Card]
row=2
col=0

[/home/snsv/Desktop/1695157032108337.png]
row=4
col=0

[Trash]
row=0
col=0

[/home/snsv]
row=1
col=0

