[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/snsv/Desktop/bazy_danych]
row=7
col=0

[/home/snsv/Desktop/SD Card]
row=2
col=0

[/home/snsv/Desktop/ruletka.py]
row=4
col=0

[/home/snsv/Desktop/slowa.txt]
row=3
col=0

[/home/snsv/Desktop/eee.py]
row=5
col=0

[/home/snsv/Desktop/studia]
row=8
col=0

[/home/snsv/Desktop/bazy_danych.zip]
row=6
col=0

[Trash]
row=0
col=0

[/home/snsv]
row=1
col=0

